.contenido{
    padding: 10px;
    margin: auto;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn{
    padding: 20px 10px; 
    background-color: #0A3871;
    color: white;
    border: solid 2px transparent;
    border-radius: 10px;
    transition: 0.3s;
}

@media only screen and (min-width: 300px){
    .contenido{
        width: 70%;
    }
}

@media only screen and (min-width: 600px){
    .contenido{
        width: 40%;
    }
}

@media only screen and (min-width: 800px){
    .contenido{
        width: 30%;
    }
}

@media only screen and (min-width: 1000px){
    .contenido{
        width: 20%;
    }
}