.logoA{
    width: 90%;
    position:absolute;
}

.logoA img{
    height: 50px;
    margin: 0px 50px;
}

.palabra-clave ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.palabra-clave ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.palabra-clave ul li p{
    font-size: 3vh;
    width: auto;
    padding-left: 12px;
    text-align: center;
}

.palabra-clave ul li img{
    width: 3vw;
}

.input{
    width: 100%;
    height: 30px;
    margin: 15px 00px 10px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    position:relative;
    background-color: transparent;
    text-transform: uppercase;
}

.sub{
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

canvas{
    display: flex;
    align-items: center;
    margin: auto;
}

div{
    display: flex;
    gap: 10px;
    padding: 0px 5rem;
}

@media only screen and (min-width: 300px){
    .contenido{
        width: 90%;
        padding: 0px;
    }

    .logoA img{
        height: 30px;
        margin: 0px 10px;
    }

    .botones{
        flex-direction: column;
    }
}

@media only screen and (min-width: 500px){
    .contenido{
        width: 50%;
    }
}

@media only screen and (min-width: 700px){
    .contenido{
        width: 50%;
    }

    .logoA img{
        height: 50px;
        margin: 0px 50px;
    }

    .botones{
        flex-direction: row;
    }
}

@media only screen and (min-width: 1000px){
    .contenido{
        width: 50%;
    }

    .botones{
        flex-direction: row;
}